
:root {
  --font-size-h1: 24px;
  --font-size-h2-a: 20px;
  --font-size-p: 12px;
  --text-color-white: white;
  --font-h1-sulphur: "Sulphur Point", sans-serif;
  --font-h2-outfit: "Outfit", sans-serif;
  --popup-border: 1px solid rgba(255, 255, 255, 0.25);
  --popup-elements-border: 1px solid rgba(255, 255, 255, 0.1);
  --popup-border-radius: 8px;
  --popup-font-family: "Outfit", sans-serif;
  --popup-font-size: 12px;
  --popup-font-weight: 200;
  --popup-item-section-element-width: 60px;
  --text-opacity: 80%;
  --font-size-button: 18px;
  --font-size-text: 12px;
  --opacity-new-order: 80%;
  --button-width:136px;
  --padding-dashboard: 10px 10px 10px 10px;
  --border-dashboard-outer: 1px solid rgba(255, 255, 255, 0.4); 
  --border-dashboard-inner: 1px solid rgba(255, 255, 255, 0.2); 
  --border-radius-dashboard: 15px;
  --font-size-dashboard-text: 14px;
  --sale-background:rgba(0, 253, 0, 0.8);
  --tool-background:rgb(253, 173, 0, 0.8);
  --equipment-background:rgb(253, 0, 190, 0.8);
  --action-button-height: 34px;
  --action-button-border-radius: 11px;
  --padding-display: 20px 15px 20px 15px;
  --border-single: 1px solid rgba(255, 255, 255, 0.4); 
  --border-double: 1px solid rgba(255, 255, 255, 0.2);
  --border-radius: 15px;
  --button-gap: 20px;
  --font-weight-button: 500;
}

html, body {
  background-image: linear-gradient(to right top, #000000, #0f0208, #160513, #19091c, #170e27, #170e27, #170e27, #170e27, #19091c, #160513, #0f0208, #000000);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
}

h1 {
  color: var(--text-color-white);
  font-family: var(--font-h1-sulphur);
  letter-spacing: 0.75px;
  margin:0;
}

h2 {
  color: var(--text-color-white);
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.75px;
  margin:0;
  font-weight: 300;
}

button > a {
  color: var(--text-color-white);
  font-family: var(--font-h2-outfit);
  font-size: var(--font-size-h2-a);
  letter-spacing: 0.5px;
  margin:0;
  font-weight: 300;
  text-decoration: none;
}

.display {
  max-width: 1920px;
  width:100%;
  display: flex;
  box-sizing: border-box;
  padding: 70px 50px 70px 50px;
  height: 100vh;
  align-items: center;
}

/* NAVBAR*/

.navbar {
  height: 100%;
  display: flex;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top: var(--border-single);
  border-bottom: var(--border-single);
  border-left: var(--border-single);
  border-right: var(--border-double);
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  height: 100%;
  width:15%;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-display);
  gap:5%;
}

/* NAVBAR LOGO SECTION */

.navbar-logo-container {
  display:flex;
  align-items: center;
  justify-content: center;
  gap:15px;
  width:100%;
  padding: 20px 0px 40px 0px;
  
}

.text-field {
  display: flex;
  align-items: center;
  gap:5px;
}

.navbar-logo-container > img {
  width:50px;
  height:50px;
  border-radius: 40px;
}

.text-field > h1 {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h1);
}

.text-field > h2 {
  font-family: "Birthstone", cursive;
  font-size: 26px;
  font-weight: 400;
  color: var(--text-color-white);
  margin:0;
}

/* NAVBAR MENU SECTION */

nav {
  display:flex;
  padding-left: 10%;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 40%;
}

button.menu-button {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: transparent;
  border:none;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  display: flex;
  gap:15px;
}

button.menu-button:hover {
  transform: scale(1.1);
  font-weight: 700;
  
}

button.menu-button:hover a.menu-a {
  font-weight: 500; 
}

.menuItem-icon {
  width:25px;
  height:25px;
}

/* SOCIALS */

.socials {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap:10px;
}

.social-icon {
  width:16px;
  height:16px;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* DASHBOARD */

.dashboard-panel {
  width: 85%;
  height:100%;
  display:flex;
  flex-direction: column;
  border-top: var(--border-single);
  border-bottom: var(--border-single);
  border-right: var(--border-single);
  border-left: var(--border-double);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  align-items: center;
  box-shadow: inset 0 0 900px rgba(255, 255, 255, 0.1);
  padding: var(--padding-display);
}

.dashboard-icon {
  width:20px;
  height:20px;
  opacity:30%;
}

/* NAVIGATION BAR */ /* ORDERS NAVIGATION BAR */

.navigation-bar,
.orders-navigation-bar {
  height: 56px;
  display: flex;
  justify-content: center;
  border: var(--border-dashboard-outer);
  border-radius: var(--border-radius-dashboard);
  width:93%;
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  position:relative;
}

.navigation-bar{
  height: 46px;
  min-height: 5%;
  padding: 10px 0px 10px 0px;
}

.navigation-bar-interior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
}

/* SUBMENU */

.submenu-navbar{
  height:100%;
  align-self: center;
  display: flex;
}

.submenu-navbar-button-div{
  position: relative;
  width:fit-content;
}

.submenu-navbar-menuItem-button {
  position: relative;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 15px;
  overflow: hidden;
}

.submenu-navbar-button-div::before,
.submenu-navbar-button-div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: center;
}

.submenu-navbar-button-div::before {
  border-top-left-radius: 15em;
  border-top-right-radius: 15em;
}

.submenu-navbar-button-div:hover::before,
.submenu-navbar-button-div:hover::after {
  transform: scaleX(1);
  border-top-left-radius: 15em;
  border-top-right-radius: 15em;
}

.submenu-navbar-menuItem-button-interior{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  border-right: var(--border-dashboard-inner);
}

.submenu-order-icon{
  align-self: center;
  justify-self: center;
  opacity:60%;
  width:20px;
  height:20px;
  margin-right: 5px;
}

.submenu-navbar-menuItem-button-a {
  font-family: var(--font-h2-outfit);
  font-size: 14px;
  color:rgba(255, 255, 255, 0.6);
  font-weight: 300;
  letter-spacing: 1px;
  align-self: center;
}

/* SEARCH */

.searchbar-container,
.search-bar-stock,
.dashboard-icon {
  align-self: center;
}

.searchbar-container{
  display: flex;
  width: 25%;
  border: var(--border-dashboard-inner);
  border-radius: var(--border-radius-dashboard);
  gap:5%;
  height: var(--action-button-height);
}

.searchbar-container .dashboard-icon {
  margin-left:3%;
}

.search-bar-stock:focus {
  outline: none;
  border: none;
}

.search-bar-stock {
  height: 25px;
  width: 100px;
  flex-grow:1;
  border: none;
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
  color:white;
  background-color: transparent;
  padding: 0px 15px 0px 0px;
}

/* LIST ACTION SECTION */

.list-action-section {
  display:flex;
  gap:var(--button-gap);
}

.category-buttons{
  display:flex;
  gap:var(--button-gap);
  justify-content: center;
  align-self: center;
  height: var(--action-button-height);
}

.category-button {
  width:90px;
  height: 100%;
  border-radius: 12px;
  color:white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.category-button:hover {
  transform: translateY(0.5px);
}

.category-button.sale:active {
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.9);
}

.category-button.sale {
  background-color: transparent;
  border:1px solid rgba(0, 253, 0, 0.5);
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.2);
}

.category-button.sale.active {
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.9);
}

.category-button.tool {
  background-color: transparent;
  border:1px solid rgb(253, 173, 0, 0.5);
  box-shadow: inset 0 0 65px rgba(253, 173, 0, 0.2);
}

.category-button.tool.active {
  box-shadow: inset 0 0 65px rgba(253, 173, 0, 0.9);
}

.category-button.equipment {
  background-color: transparent;
  border:1px solid rgb(253, 0, 190, 0.5);
  box-shadow: inset 0 0 65px rgba(253, 0, 190, 0.2);
}

.category-button.equipment.active {
  box-shadow: inset 0 0 65px rgba(253, 0, 190, 0.9);
}

.category-button-h2 {
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
  font-weight:var(--font-weight-button);
}

/* FILTER BUTTONS EXPAND */

.supplier-filter-container {
  display: flex;
  position:relative;
  flex-direction: column;
  margin-left:30px;
  gap:5px;
  height: fit-content;
  border:1.5px solid rgba(255, 255, 255, 0.4); 
  border-radius: var(--border-radius);
  transition: all 0.1s ease;
}

.supplier-filter-container.expand {
  z-index: 10;
  width:fit-content;
  height:254px;
  position:relative;
}

.brand-filter-container,
.supplier-filter-container-visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-filter-button,
.supplier-filter-container-visible {
  background-color: transparent;
  width:90px;
  height: 38px;
  gap:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.supplier-filter-container-visible {
  width: fit-content;
  padding: 3px 13px 3px 13px;
  justify-content: flex-start;
}

.filter-expand {
  display:flex;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  border-bottom-right-radius:var(--border-radius);
  border-bottom-left-radius:var(--border-radius);
  align-items: center;
  z-index: 10;
}

.filter-list {
  min-height: 165px;;
  max-height: 165px;
  height: 60%;
  width:100%;
  display: flex;
  flex-direction: column;
  color:white;
  font-family: var(--font-h2-outfit);
  font-size:16px;
  font-weight: 300;
  overflow-y: auto;
  scrollbar-width:thin;
  scrollbar-color: rgba(100, 100, 100, 0.2) transparent;
}

.filter-item{
  display: flex;
  height: 25px;;
  padding:10px 15px 10px 10px;
  align-items: center;
  justify-content: space-between;
  border-top:var(--border-dashboard-inner);
  position: relative;
}

.filter-item:last-child {
  border-bottom:var(--border-dashboard-inner);
}

.filter-item:hover {
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
}

.filter-item input[type="checkbox"] {
  opacity: 0; 
  position: absolute; 
}

.filter-item input[type="checkbox"] + span {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.filter-item input[type="checkbox"]:checked + span::before {
  content: '✓'; 
  color: rgb(5, 236, 5); 
  font-size: 15px; 
  font-weight: bold;
}

.expanded-filter-list {
  width:100%;
  background-color: transparent;
  height: 20px;
}

.add-new-icon {
  width:20px;
  height:20px;
  transition: transform 0.2s ease;
}

.add-new-icon:hover {
  transform: scale(1.15);
}

/* PRODUCT ACTION BUTTON */

.action-buttons-section {
  width:93%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products-action-buttons {
  display:flex;
  width:80%;
  align-self: center;
  justify-content: end;
  margin-top: 1%;
  margin-bottom: 1%;
  gap:15px;
}

.product-action-button-container {
  background-color: transparent;
  height:var(--action-button-height);
  display: flex;
  align-items: center;
}

.product-action-button {
  background-color: transparent;
  border: var(--border-dashboard-inner);
  border-radius: var(--border-radius);
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  padding: 5px 12px;
  opacity:80%;
  cursor: pointer;
}

.product-action-button:hover {
  opacity: 100%;
}

.product-action-button-icon {
  width: 15px;
  height: 15px;
}

.item-list-single-item-action-buttons .product-action-button-container {
  height:auto
}

.item-list-single-item-action-buttons .product-action-button {
  border:none;
  padding: 0;
  transition: transform 0.3s ease;
}

.item-list-single-item-action-buttons .product-action-button:hover {
  transform: scale(1.3);
}

.item-list-single-item-action-buttons .product-action-button-icon {
  width: 13px;
  height: 13px;
}

.item-list-single-item-action-buttons .product-action-button-icon.usuń {
  width: 9px;
  height: 9px;
}


.product-action-button-a {
  height:19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-h2-outfit);
  font-size: var(--font-size-text);
}

.button-layer.selected .product-action-button {
  border: 1px solid rgba(255, 255, 255, 0.6); 
  opacity: 100%;
  background-color: rgba(255, 255, 255, 0.09);
}

.button-layer.selected .product-action-button-a {
  color:rgba(255, 255, 255, 1);  
}

/* SUPPLY LIST */

.list-error{
  position: absolute;
  color:white;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  justify-items: center;
  align-items: center;
}

.list-error > h2 {
  font-family: var(--font-h2-outfit);
  font-size: var(--font-size-h1);
  
}

.list-loading-container {
  --uib-size: 78px;
  --uib-color: rgba(255, 255, 255, 0.767);
  --uib-speed: 1.1s;
  position: relative;
  top: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--uib-size) * 0.51);
  height: calc(var(--uib-size) * 0.51);
}

.loading-dot {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.loading-dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}

.loading-dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.loading-dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

.supply-list-header {
  border: var(--border-dashboard-outer);
  border-radius: var(--border-radius-dashboard);
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  width:93%;
  display:flex;
}

.attribute-item {
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
  letter-spacing: 0.5px;
  font-weight: 300;
  display:flex;
  padding:8px 0px 8px 0px;
}

.item-list {
  border: var(--border-dashboard-outer);
  border-radius: var(--border-radius-dashboard);
  box-shadow: inset 0 0 900px rgba(255, 255, 255, 0.1);
  width:93%;
  max-height:519px;
  overflow-y: scroll;
  scrollbar-width:none;
  margin-top:1%;
  display:grid;
  padding:0px 0px;
}

.item-list.is-empty {
  border:none;
}

.item {
  color:white;
  display:flex;
  border-top:var(--border-dashboard-inner);
  padding:1px 0px;
}

.item.pointer {
  cursor: pointer;
}

.item.pointer:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.product-wrapper:first-child .item {
  border-top: none;
}

.attribute-item{
  display: flex;
}

.category-column {
  align-items: center;
  padding:1px;
}

.category-container {
  height: 30%;
  border: var(--border-dashboard-inner);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.15);
  width:40%;
  padding: 0px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.item-list-single-item-action-buttons {
  display:flex;
  gap:14px;
}

.list-pagination {
  margin-top: 20px;
  display:flex;
  gap:10px;
  align-items: center;
}

.list-prev-page-button,
.list-next-page-button {
  background-color: transparent;
  border:none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.list-prev-page-button:hover,
.list-next-page-button:hover {
  transform: scale(1.1) translateY(0.5px);
}

.pagination-img {
  width: 30px;
  height: 30px;
  display:flex;
  align-items: center;
}

.page-info {
  color:white;
  font-family: var(--font-h2-outfit);
}

/* ORDERS */

.orders-container {
  margin-top: 4.5%;
  width:100%;
  height:fit-content;
  display:flex;
  justify-content:space-around;
  position: relative;
  overflow: visible;
}

.order-display-container {
  align-self: center;
  width:44%;
  border: var(--border-dashboard-inner);
  border-radius: 25px;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: visible;
}

.order-display-interior {
  padding: 8px 30px 20px 30px;
  display: grid;
  gap:10px;
  position: relative;
  height: 582px;
}

.order-display-interior > h1 {
  font-family: var(--font-h1-sulphur);
  font-size: 18px;
  font-weight: 400;
  justify-self: center;
}


.order-list-header {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  width:100%;
  display:flex;
  flex: 0.5;
}

.order-list-header > h2 {
  font-size: 12px;
}

.order-productList {
  height:360px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: visible;
  color: white;
  font-family: var(--font-h2-outfit);
  font-size: var(--font-size-text);
}

.order-item-list {
  flex: 11;
  overflow-y: auto; 
/*   height:315px; */
  scrollbar-width:thin;
  scrollbar-color: rgba(100, 100, 100, 0.2) transparent;
}

.order-item-list .order-item {
  display: flex;
  align-items: center;
  height: calc(100% / 11);
}

.order-item {
  color:white;
  display:flex;
  border-top:var(--border-dashboard-inner);
  padding:1px 0px;
}

.order-item:first-child {
  border-top:none;
}
.order-item:last-child {
  border-bottom:var(--border-dashboard-inner);
}

.product-attribute-item,
.order-attribute-item,
.order-product-attribute-item{
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
  letter-spacing: 0.5px;
  font-weight: 300;
  display:flex;
  padding:4px 0px 4px 0px;
  align-items: center;
}

.product-attribute-item {
  font-size: var(--popup-font-size);
}

.order-category-column {
  align-items: center;
  padding:1px;
}

.order-item-remove-button {
  background-color: transparent;
  border:none;
}

.order-item-remove-icon {
  display: grid;
  width:8px;
  height:8px;
  opacity: 90%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.order-item-remove-icon:hover {
  transform: scale(1.4);
  opacity: 100%;
}

.product-name-container{
  position: relative;
  background-color: transparent;
}


.order-table-input-product-name,
.product-name-dropdown,
.order-table-input-price,
.order-table-input-quantity,
.shipping-cost-input {
  width:60px;
  background-color: transparent;
  color:white;
  border: 1px solid rgba(255, 255, 255, 0.1); ;
  padding:3px 0px 3px 0px;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  font-family: var(--font-h2-outfit);
}

.product-name-dropdown,
.order-table-input-product-name {
  width:200px;
  text-align: left;
  padding-left: 15px;
}

.product-name-dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height:fit-content;
  width:217px;
  background: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 0.5px solid #ffffffad;
  border-radius: 5px;
  z-index: 10;
  list-style: none;
  padding:0;
  margin-top:0px;
}

.product-name-dropdown[style*='bottom'] {
  
  margin-top: 0px;
  margin-bottom: 0px; 
}

.product-name-dropdown-item {
  font-family: var(--font-h2-outfit);
  font-size:12px;
  color: white;
  opacity: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3px 0px 3px 15px;
  cursor: pointer;
  border-bottom: var(--border-dashboard-inner);
}


.product-name-dropdown-item:first-child {
  padding-top: 5px;
}

.product-name-dropdown-item:last-child {
  border-bottom: none;
  padding-bottom: 5px;
}


.product-name-dropdown-item:hover {
  background: #f0f0f021;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.shipping-summary-section {
  display: flex;
  flex-direction: column;
  position:relative;
}

.order-shipping,
.order-cost-summary {
  position:relative;
  overflow:visible;
  padding: 5px 0px 10px 0px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  z-index:auto;
}

.order-cost-summary{
  justify-content:flex-end;
  gap:7px;
  font-weight: 300;
}

.order-total-value {
  opacity: 80%;
}

.shipping-cost-input,
.order-total-value {
  margin-right:5%;
  font-size: var( --font-size-dashboard-text);
}

.shipping-cost-input {
  padding:6px 0px 6px 0px;
  border-radius: 8px;
}

.order-shipping {
  border-bottom:var(--border-dashboard-inner);
}

.order-shipping > a,
.order-cost-summary > a {
  color:white;
  font-size: var(--font-size-dashboard-text);
  font-family: var(--font-h2-outfit);
}

.order-cost-summary > a {
  color:white;
}

.order-confirm-button {
  display: flex;
  justify-self:end;
  align-self: center;
}

.order-confirm-button .product-action-button {
  gap:8px;
}

.order-confirm-button .product-action-button:hover {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.15);
}

.order-confirm-button .product-action-button-icon {
  width:14px; 
  height:14px;
}

.order-confirm-button .product-action-button-a {
  font-size: var(--font-h2-outfit);
}


/* VAT SELECT BUTTON */

.vat-select-container {
  position: relative;
  display: inline-block;
}

.vat-select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  width: 42px;
  padding: 3px 1px 3px 4px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: transparent;
  color:white;
  display:flex;

}

.vat-button-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:12px;
  font-family: var(--font-h2-outfit);
}

.vat-select-arrow-icon {
  width:8px;
  height:8px;
  transition: transform 0.2s ease;
}

.vat-select-arrow-icon.rotated {
  transform: rotate(180deg);
}

.vat-select {
  display: flex;
  position: absolute;
  margin:0px;
  bottom: 100%;
  right: -10px;
  width: 213px;
  padding:0px;
  max-height: 170px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 0.5px solid #ffffffad;
  border-radius: 5px;
  z-index: 10;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.order-item:nth-last-child(n+9) .vat-select {
  transform: translateY(55px);
}

.order-item:first-child .vat-select {
  transform: translateY(55px);
}

.vat-select-item {
  font-family: var(--font-h2-outfit);
  font-size:12px;
  color: white;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 7px 7px 7px;
  cursor: pointer;
}

.vat-select-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.vat-select-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.vat-select-item:hover {
  background-color: #fcfcfc2a;
}

.vat-select-item.disabled {
  color: #aaa;
  cursor: not-allowed;
}

/* ORDERS LIST BY SUPPLIER */

.orders-list-by-supplier-container-title {
  height:47px;
  display: flex;
  align-items: center;
}

.orders-list-by-supplier-orders-count-span{
  color:white;
  font-size: var( --font-size-dashboard-text);
  opacity:70%;
  font-family: var(--font-h2-outfit);
  font-weight: 200;
  letter-spacing: 1px;
}


/* HANDY ORDER LIST */

.handy-order-list-container {
  height:406px;
  max-height: 406px;
  overflow-y: scroll; 
  scrollbar-width:none;
  display: flex;
  flex-direction: column;
}

.order-product-move-button {
  background-color: transparent;
  border:none;
  padding: 0;
  transition: transform 0.2s ease;
}

.order-product-move-button:hover {
  transform: scale(1.1) translateY(1px);
}

.expand-order-icon {
  display: grid;
  width:10px;
  height:10px;
  opacity: 90%;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.expand-order-icon.rotated {
  transform: rotate(180deg);
}

.orders-list-by-supplier-orders-count{
  display: flex;
  justify-content: center;
  align-items: center;
  height:77px;
}

.handy-order-item {
  color:white;
  display:flex;
  border-top:var(--border-dashboard-inner);
  padding:1px 0px;
  cursor: pointer;
}

.handy-order-item:first-child {
  border-top:none;
}
.handy-order-item:last-child {
  border-bottom:var(--border-dashboard-inner);
}
.handy-order-item:hover {
  border-radius:3px;
  background-color: rgba(255, 255, 255, 0.05);
}

/* ORDER CONTENT */

.order-content{
 margin-bottom:10px;
}

/* ORDER PRODUCT LIST HEADER */

.handy-order-product-list-container {
  overflow-y: scroll; 
  scrollbar-width:none;
  display: flex;
  flex-direction: column;
}

.order-product-list-header {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  width:99.7%;
  display:flex;
  flex: 0.5;
  padding: 0;
}

.product-content .order-product-list-header {
  box-shadow:none;
  background-color: #020320ac;
  width:100%;
  border-right: none;
  border-left: none;
  justify-self: center;
  border-radius: 0;
}

.order-product-list-header > h2 {
  font-size:10px;
}

.order-product-attribute-item{
  padding:0.5px 0px 0.5px 0px;
}

/* HANDY ORDER PRODUCTS LIST */

.handy-product-instance-item,
.handy-order-product-item {
  color:white;
  display:flex;
  border-top:var(--border-dashboard-inner);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.15);
  border-radius:20px;
}

.handy-product-instance-item {
  box-shadow: none;
  border-top: 1px solid rgba(255, 255, 255, 0.05); 
  height:30px;
  border-radius: 0px;
  background-color: #0203204f;
}

/* .handy-product-instance-item:first-child, */
.handy-order-product-item:first-child {
  border-top:none;
}
/* .handy-product-instance-item:last-child, */
.handy-order-product-item:last-child {
  border-bottom:var(--border-dashboard-inner);
}


.move-order-product-icon {
  display: grid;
  width:20px;
  height:20px;
  opacity: 90%;
  cursor: pointer;
  transition: transform 0.25s ease;
}

/* ORDER NEW PRODUCTS POPUP */
/* ADD SUPPLIER POPUP */
/* ADD PRODUCT POPUP */

.add-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15vh;
}

.order-new-products-popup-content,
.add-supplier-popup-content,
.new-product-popup-content,
.remove-product-popup-content {
  background-image: linear-gradient(to right top, #000000, #0f0208, #160513, #19091c, #170e27, #170e27, #170e27, #170e27, #19091c, #160513, #0f0208, #000000);
  padding: 25px 50px 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.2);
  width: 25%; 
  height:55%;
  animation: fadeIn 0.15s ease-in-out;
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

.new-product-popup-content {
  width: 55%; 
  height:65%;
}

.remove-product-popup-content {
  width: 40%;
  height: 60%;
}

.add-supplier-popup-content {
  width: 15%; 
  height:44%;
  justify-content: space-between;
}

.popup-close-button {
  background-color: transparent;
  border:none;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:3px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor:pointer;
  opacity: 30%;
}

.popup-close-button:hover {
  background-color: rgba(255, 255, 255, 0.178);
}

.popup-close-icon {
  width:18px;
  height:18px;
}

.order-new-products-popup-header,
.add-new-supplier-header,
.new-product-popup-header,
.edit-product-popup-header {
  display: flex;
}

.new-product-popup-header,
.edit-product-popup-header {
  margin-bottom:30px;
}

.order-new-products-popup-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.order-new-products-popup-content h2,
.add-supplier-popup-content h2 {
  font-family:  var(--popup-font-family);
  justify-self: center;
}

/* ADD SUPPLIER POPUP */

.add-supplier-form {
  display: grid;
  gap:80px;
}

.add-supplier-input-section {
  display: grid;
  justify-content: center;
  gap:30px;
  color:white;
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.5px;
  font-weight: 300;
}

.add-supplier-label {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap:20px;
}

.add-supplier-label-a {
  display: flex;
  justify-content: center;
}


.add-supplier-input {
  border-radius: 5px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  color: white;
  font-weight: 300;
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.5px;
}

.add-supplier-input::placeholder {
  color:rgba(255, 255, 255, 0.4);
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.5px;
}

.supplier-confirm-button {
  border:1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border-radius: 15px;
  width:fit-content;
  gap: 5px;
  display: flex;
  justify-self:center;
  align-self: center;
  
  padding: 8px 12px 8px 9px;
  cursor: pointer;
}

.tick-icon{
  width:15px;
  height:15px;
  transition: transform 0.15s ease;
}

.supplier-confirm-button > a {
  color: white;
  font-size: var(--font-size-dashboard-text);
  align-self: center;
}

.supplier-confirm-button:hover {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ORDER NEW PRODUCTS*/
/* ADD PRODUCTS POPUP */
/* EDIT PRODUCTS POPUP */

.new-product-popup-interior,
.remove-product-popup-interior {
  flex-grow: 1;
  width:95%;
  margin-bottom:10px;
}

.remove-product-popup-interior {
  display:flex;
  flex-direction: column;
  gap:20px;
}

.remove-product-popup-interior .handy-order-product-list-container {
  max-height: 312px;
  overflow-y: auto;
  scrollbar-width:thin;
  scrollbar-color: rgba(100, 100, 100, 0.2) transparent;
}

.product-selecect-dropdown-section{
  display: flex;
  justify-self: center;
  align-self:center;
  width: 60%;
  margin-bottom:20px;
}

.order-new-products-popup-subtitle,
.remove-popup-warning-a,
.remove-popup-warning-a-list-length {
  color:rgba(255, 255, 255, 0.6);
  font-family: var(--font-h2-outfit);
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0.75px;
}

.remove-popup-warning-a,
.remove-popup-warning-a-list-length {
  color:white;
  font-size:15px;
  font-weight: 300;
  word-spacing: 0.5px;
  display:flex;
  justify-content: center;
}

.remove-popup-warning-a-list-length{
  font-size:12px;
  opacity:60%;
}


.order-new-products-popup-action-keys-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.order-new-products-popup-action-keys-section.add-product {
  margin-top:0;
}

.order-new-products-popup-action-keys-title,
.new-product-popup-field-title {
  color:white;
  font-family: var(--font-h2-outfit);
  font-weight: 300;
  font-size: var(--font-size-text);
}

.new-product-popup-field-title {
  font-size: var(--font-size-text);
}

.new-product-popup-common-section-row-div .vat-select {
  right: -85px;
}

.order-new-products-popup-category-buttons{
  display:flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.order-new-products-popup-category-button {
  width: 60px;
  height: 28px;
  border-radius: 12px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.order-new-products-popup-category-button:hover {
  transform: translateY(0.5px);
}

/* category change disabled effects */
.product-form-container.edit .order-new-products-popup-category-button:hover {
  transform: none;
  cursor: auto;
}

.order-new-products-popup-category-button.sale:active {
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.9);
}

/* category change disabled effects */
.product-form-container.edit .order-new-products-popup-category-button.sale:active{
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.2);
}

.order-new-products-popup-category-button.sale {
  background-color: transparent;
  border:1.5px solid rgba(0, 253, 0, 0.7);
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.2);
}

.order-new-products-popup-category-button.sale.active {
  box-shadow: inset 0 0 65px rgba(0, 253, 0, 0.9);
}

.order-new-products-popup-category-button.tool {
  background-color: transparent;
  border:1.5px solid rgb(253, 173, 0, 0.7);
  box-shadow: inset 0 0 65px rgba(253, 173, 0, 0.2);
}

.order-new-products-popup-category-button.tool.active {
  box-shadow: inset 0 0 65px rgba(253, 173, 0, 0.9);
}

.order-new-products-popup-category-button.equipment {
  background-color: transparent;
  border:1.5px solid rgb(253, 0, 190, 0.7);
  box-shadow: inset 0 0 65px rgba(253, 0, 190, 0.2);
}

.order-new-products-popup-category-button.equipment.active {
  box-shadow: inset 0 0 65px rgba(253, 0, 190, 0.9);
}

.order-new-products-popup-category-button-h2 {
  font-family: var(--font-h2-outfit);
  font-size: 10px;
  font-weight:var(--font-weight-button);
}

.reset-button {
  background-color:transparent;
  border:var(--popup-border);
  border-radius:5px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left:25px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.reset-icon {
  padding:3px 3px;
  width:14px;
  height:14px;
  opacity:80%;
}

.list-action-section .reset-button {
  height:32px;
  align-self:center;
  border:var(--border-dashboard-inner);
}

.list-action-section .reset-button:hover {
  background-color: transparent;
}

.list-action-section .reset-icon {
  padding: 1px 2px;
  width:16px;
  height:16px;
  opacity:50%;
}

.list-action-section .reset-icon:hover {
  opacity:70%;
}

.order-new-products-popup-list{
  margin: 0;
  margin-top: 5px;
  padding: 0;
  width:100%;
  height: 53%;
  overflow-y: auto;
  scrollbar-width:thin;
  scrollbar-color: rgba(100, 100, 100, 0.2) transparent;
}

.order-new-products-popup-list-item {
  color:white;
  font-family: var(--font-h2-outfit);
  font-weight: 200;
  font-size: var( --font-size-text);
  border-bottom: var(--popup-border);;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-new-products-popup-list-item:nth-child(n+5) .category-select,
.order-new-products-popup-list-item:nth-child(n+5) .supplier-brand-name-dropdown {
  transform: translateY(-105px);
}

.order-new-products-popup-list-item:first-child {
  border-top: var(--popup-border);
}

.order-new-products-popup-input-section{
  display:flex;
  gap:5px;
}

.supplier-brand-name-container {
  position:relative;
  background-color: transparent;
}

.supplier-brand-name-dropdown{
  background-color: transparent;
  color:white;
  border: 0.5px solid #ffffffad;
  border-radius: var(--popup-border-radius);
  font-size: var(--popup-font-size);
  text-align: left;
  font-family: var(--popup-font-family);
  padding:0px 0px 0px 0px;
  width: 111px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height:fit-content;
  background: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 10;
  list-style: none;
  padding:0;
  margin-top:0px;
}

.supplier-brand-name-dropdown-item,
.category-select-item {
  font-family: var(--popup-font-family);
  font-size:var(--popup-font-size);
  color: white;
  opacity: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3px 0px 3px 15px;
  cursor: pointer;
  border-bottom: var(--popup-border);
}

.supplier-brand-name-dropdown-item:first-child,
.category-select-item:first-child {
  padding-top: 5px;
}

.supplier-brand-name-dropdown-item:last-child,
.category-select-item:last-child {
  border-bottom: none;
  padding-bottom: 5px;
}

.supplier-brand-name-dropdown-item:hover,
.category-select-item:hover {
  background: #f0f0f021;
}

.category-select-container {
  position:relative;
}

.category-select-button,
.popup-input-brand-supplier-name,
.new-products-popup-digit-input,
.cost-input,
.new-product-popup-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  width: 113px;
  padding: 8px 15px;
  cursor: pointer;
  border: var(--popup-elements-border);
  border-radius: var(--popup-border-radius);
  background-color: transparent;
  color:white;
  font-family: var(--font-h2-outfit);
  font-size:var(--popup-font-size);
  font-weight: var(--popup-font-weight);
  letter-spacing: 0.75px;
}

.cost-input{
  padding:8px 10px;
  cursor:auto;
  text-align: center;
}

.new-product-popup-input.product-name {
  width: auto;
  min-width: 0;
  cursor:auto;
}

.popup-input-brand-supplier-name {
  padding: 8px 8px;
  width:95px;
  cursor:auto;
}

.digit-input-container.disabled {
  cursor: not-allowed;
  opacity:40%;
}

.new-products-popup-digit-input{
  width:20px;
  padding: 8px 5px;
  justify-items: center;
  cursor:auto;
}

.new-products-popup-digit-input.disabled {
  cursor: not-allowed;
}

.new-product-popup-common-section-row .cost-input{
  width:37px;
}

.new-product-popup-common-section-row.description {
  display:flex;
  flex-direction: column;
  align-items: start;
  margin-top: auto;
}

.new-product-popup-input.description {
  width:100%;
  padding:10px;
  resize: none;
  cursor: auto;
  box-sizing: border-box;
}

.new-products-popup-digit-input:focus,
.cost-input:focus,
.new-product-popup-input.product-name:focus,
.popup-input-brand-supplier-name:focus,
.new-product-popup-input.description:focus {
  outline:none;
}

.cost-input::placeholder {
  color:white;
}

.category-select-arrow-icon{
  width:10px;
  height:10px;
  transition: transform 0.2s ease;
}

.category-select-arrow-icon.rotated {
  transform: rotate(180deg);
}

.category-select {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin:0px;
  top: 100%;
  right: 0;
  width: 113px;
  padding: 0px;
  max-height: 170px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 0.5px solid #ffffffad;
  border-radius: 5px;
  z-index: 10;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.category-select-item {
  width:100%;
  justify-content: center;
  padding: 3px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.popup-bottom-section {
  display: flex;
  align-items: end;
  position: relative;
}

.popup-category-description{
  margin-top:12px;
  width:100%;
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--font-h2-outfit);
  font-size: 8px;
  font-weight: 200;
  letter-spacing: 0.5px;
  justify-content: flex-start;
}

.popup-footer-container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.footer-popup-action-buttons {
  width:60%;
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-cancel-button .product-action-button {
  border: 1px solid rgba(255, 0, 0, 0.8);
  opacity:100%;
}

.footer-confirm-button .product-action-button {
  border: 1px solid rgb(1, 245, 1, 0.8);
  opacity:100%;
}

.footer-cancel-button .product-action-button-icon {
  width: 11px;
  height:11px;
}

.footer-confirm-button .product-action-button-a {
  opacity:100%;
}

.footer-popup-action-buttons .product-action-button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.popup-confirm-button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  width:fit-content;
  gap: 5px;
  display: flex;
  justify-self:end;
  padding: 8px 12px 8px 9px;
  cursor: pointer;
}

.popup-confirm-button.add-product {
  margin-top:15px;
}

.popup-confirm-button > a {
  color: white;
  font-size: var(--font-size-text);
  align-self: center;
}

.popup-confirm-button:hover {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.15);
}

.popup-tick-icon {
  width:15px;
  height:15px;
  transition: transform 0.15s ease;
}

/* NEW ORDER ACTION BUTTONS */

/* .order-supplier-date-addProduct-section {
  --opacity-new-order: 80%;
  --button-width:136px;
}
 */

.order-supplier-date-addProduct-section{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

/* SUPPLIER DROPDOWN SEARCH */
/* BRAND DROPDOWN */
/* USER MENU */

.supplier-searchable-dropdown,
.product-searchable-dropdown,
.brand-searchable-dropdown,
.user-menu {
  position: relative;
  width: var(--button-width);
  background-color: transparent;
  border:none;
}

.product-searchable-dropdown{
  display:flex;
  justify-self: center;
  width:100%;
}

.user-menu{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.supplier-dropdown-header,
.product-dropdown-header,
.brand-dropdown-header,
.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: var(--border-dashboard-inner);
  border-radius: var(--action-button-border-radius);
  padding: 1px 12px;
  cursor: pointer;
  width: var(--button-width);
  opacity:80%;
}

.product-dropdown-header {
  --border-dashboard-inner: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 11px;
  width:100%;
}

.product-dropdown-header:hover {
  opacity: 100%;
}

.product-dropdown-header .dropdown-search {
  flex-grow: 1;
  padding-right: 12px;
  font-size: 12px;
  padding: 6px 12px 6px 12px;
}

.dropdown-button {
  gap:10px;
  border: none;
  transition: transform 0.2s ease;
}

.dropdown-button:hover {
  opacity:0.9;
}

.user-menu .dropdown-button {
  justify-content: center;
}

.user-pfp {
  width: 30px;
  height:30px;
  border-radius: 50%;
}

.supplier-dropdown-header:hover,
.brand-dropdown-header:hover {
  opacity: 100%;
}

.supplier-dropdown-header a,
.brand-dropdown-header a {
  color:#fff;
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 300;
  height:var(--action-button-height);
  align-content: center;
}

.supplier-placeholder {
  display: flex;
  align-items: center;
  gap:5px;
}

.dropdown-menu,
.brand-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 0.5px solid #ffffffad;
  border-radius: var(--action-button-border-radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 5px;
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
  color:white;
}

.dropdown-menu ::placeholder,
.brand-dropdown-menu ::placeholder {
  color:rgba(255, 255, 255, 0.8);
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.5px;
  font-weight: 200;
  font-size: 13px;
}

.product-searchable-dropdown .dropdown-menu {
  border:var(--border-dashboard-outer);
}

.username {
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
}

.arrow-down {
  width: 10px;
  height:10px;
  transition: transform 0.2s ease;
}

.arrow-down.rotated {
  transform: rotate(180deg);
}

.dropdown-search-and-add-new-supplier {
  display: flex;
  border-bottom: 1px solid #ffffffad;
}

.dropdown-search,
.brand-dropdown-search {
  width: 75%;
  padding: 8px 0px 8px 12px;
  background-color: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: var(--font-h2-outfit);
  font-weight: 300;
  font-size: var( --font-size-dashboard-text);
  color:white;
}

.add-supplier-dropdown-button{
  background-color: transparent;
  border: none;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 3px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.add-supplier-dropdown-button:hover {
  transform: scale(1.2);
}

.supplier-add-new-icon {
  width:16px;
  height:16px;
}

.logout-icon,
.profile-icon,
.settings-icon {
  width:16px;
  height:16px;
}

.dropdown-list,
.brand-dropdown-list,
.user-menu-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 150px;
  overflow-y: auto;
  scrollbar-width:thin;
  scrollbar-color: rgba(100, 100, 100, 0.2) transparent;
}

.product-searchable-dropdown .dropdown-list {
  height:410px;
}

.user-menu-dropdown-list {
  height:117px;
}

.dropdown-item,
.dropdown-item-user-menu,
.dropdown-logout-item,
.brand-dropdown-item {
  height:30px;
  padding: 3px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-dashboard-inner);
}

.product-searchable-dropdown .dropdown-item {
  opacity:80%;
  justify-content: start;
  gap: 20px;
}

.product-searchable-dropdown .dropdown-item-name {
  flex-grow: 1;
}

.product-searchable-dropdown .category-container {
  width: 12px;
}

.dropdown-item-user-menu {
  padding: 3px 8px;
  justify-content: start;
  gap:8px;
  opacity:80%;
}

.dropdown-item:first-child,
.brand-dropdown-item:first-child,
.dropdown-item-user-menu:first-child {
  padding-top: 6px;
}

.dropdown-item:last-child,
.brand-dropdown-item:last-child,
.dropdown-item-user-menu:last-child {
  padding-bottom: 6px;
  border-bottom-left-radius: var(--action-button-border-radius);
}

.supplier-searchable-dropdown .dropdown-item:hover,
.product-searchable-dropdown .dropdown-item:hover,
.brand-searchable-dropdown .brand-dropdown-item:hover,
.user-menu .dropdown-item-user-menu:hover   {
  background-color: rgba(255, 255, 255, 0.07);
}

.supplier-tick-icon,
.brand-tick-icon {
  width:20px;
  height:20px;
}

.dropdown-item:hover,
.brand-dropdown-item:hover {
  background: #f0f0f0;
}

.dropdown-item.disabled,
.brand-dropdown-item.disabled {
  color: #999;
  cursor:default;
  font-size:13px;
  justify-content: center;
}

/* BRAND DROPDOWN SEARCH */

.brand-searchable-dropdown {
  align-self: center;
}

.brand-dropdown-header{
  border-radius: 11px;
  width: 136px;
}

.brand-dropdown-header a {
  height: 30px;
  opacity:80%;
}

.brand-dropdown-menu {
  border-radius: 11px;
}

.brand-dropdown-search {
  width:100%; 
  border-bottom: 1px solid #ffffffad;
  background-color: rgba(255, 255, 255, 0.07);
}

.brand-dropdown-item {
  opacity:90%;
}

.brand-dropdown-item:hover {
  opacity:100%;
}

.action-buttons {
  display:flex;
  width:100%;
  height:32px;
  border-top: 0.5px solid #ffffffad;
}

.clear-button,
.save-button {
  border:none;
  width:50%;
  border-right:var(--border-dashboard-inner);
  background-color: rgba(255, 255, 255, 0.07);
  cursor: pointer;
  
}

.clear-button{
  border-bottom-left-radius:var(--border-radius);
}

.save-button{
  border-bottom-left-radius:none;
  border-bottom-right-radius:var(--border-radius);
}

.clear-button > h2,
.save-button > h2 {
  font-family: var(--font-h2-outfit);
  font-size: var( --font-size-dashboard-text);
  color:rgba(255, 255, 255, 0.8);
}

.clear-button > h2:hover,
.save-button > h2:hover {
  color:white;
}


/* DATE INPUT */

.input-date-component,
.custom-calendar-button {
  background-color: transparent;
  border:none;
  color:white;
  align-items: center;
}

.custom-calendar-button{
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 11px;
  display: flex;
  cursor: pointer;
  width:  var(--button-width);
  padding:1px 0px;
}

.calendar-icon {
  width:20px;
  height:20px;
  padding:5px 8px;
  cursor: pointer;
  opacity: var(--opacity-new-order);
  border-right:  1px solid rgba(255, 255, 255, 0.2); 
}

.date-custom-input {
  color:white;
  opacity: var(--opacity-new-order);
  font-size: 12px;
  text-align: center;
  font-family: var(--font-h2-outfit);
  letter-spacing: 0.5px;
  gap:16px;
}

.date-custom-input:hover {
  opacity: 100%;
}

.date-custom-calendar {
  background-color: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.react-datepicker{
  border-radius: 15px !important;
}

.react-datepicker,
.react-datepicker__month-container,
.react-datepicker__header {
  background-color: transparent !important;
  color: white !important;
}

.react-datepicker__navigation-icon::before, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow {
  border-color: #ffffff !important;
  opacity: var(--opacity-new-order);
  height: 6px !important;
  width: 6px  !important;
}

.react-datepicker__year-dropdown{
  background-color: #201520 !important;
  backdrop-filter: blur(250px) !important;
  -webkit-backdrop-filter: blur(250px) !important;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.05);
  scrollbar-width:thin;
  scrollbar-color: rgba(100, 100, 100, 0.2) transparent;
}

.react-datepicker__year-option:hover {
  background-color: rgba(128, 128, 128, 0.247) !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: white !important;
}

.react-datepicker__current-month {
  font-weight: 400 !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  opacity: var(--opacity-new-order);
}

.react-datepicker__day:hover {
  background-color: transparent !important;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.15);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ffffff65 !important;
}


/* ADD NEW PRODUCT BUTTON */

.order-add-new-product-button{
  background-color: transparent;
  border:var(--border-dashboard-inner);
  border-radius: var(--action-button-border-radius);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 1px 10px 1px 10px;
  width:  var(--button-width);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  opacity:var(--text-opacity);
  height:36px;
}

.order-add-new-product-button:hover{
  opacity:100%;
}

.order-add-new-icon {
  width:18px;
  height:18px;
}

.order-add-new-product-button a {
  
  font-family: var(--font-h2-outfit);
  font-size: 12px;
  height:var(--action-button-height);
  align-content: center;
}

/* ALERT */

.custom-alert {
  position: fixed;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: var(--font-h2-outfit);
  word-spacing: 2px;
  font-size: 16px;
  animation: slideInFromTop 0.3s ease-out, fadeOut 0.3s ease-in 1.9s forwards;
}

.custom-alert-success {
  background-color: #05250d;
  border:0.25px solid #27dd51;
  color: #2bff5d;
}

.custom-alert-error {
  background-color: rgb(31, 5, 5);
  border:0.25px solid rgb(221, 38, 38);
  color: rgb(255, 77, 77);
}

.custom-alert-info {
  background-color: rgb(62, 62, 12);
  border: 0.25px solid rgb(189, 189, 27);
  color: rgb(251, 251, 33);
}

.alert-message {
  font-weight: 400;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@keyframes slideInFromTop {
  0% {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
}

/* PRODUCT FORM */

.product-form-container {
  display:flex;
  flex-direction: column;
}


.product-form-core-section {
  display:flex;
  gap:40px;
  height: 371px;
}

.product-form-instances-display {
  width:90%;
  display:flex;
  flex-direction: column;
  height: 371px;
}

.popup-instances-list {
  overflow-y: auto;
  scrollbar-width:none;
}

.product-form-instances-header,
.product-instance-form-header {
  border:  1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  padding: 5px 30px 5px 30px;
  box-shadow: inset 0 0 35px rgba(255, 255, 255, 0.2);
}

.product-form-instances-header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.product-form-instances-header .product-action-button-container {
  height:auto;
}

.product-form-instances-header .product-action-button {
  border:none;
  padding: 0;
  transition: 0.3s ease;
}

.product-form-instances-header .product-action-button:hover {
  transform: scale(1.2);
}

.product-form-instances-header .product-action-button-icon {
  width:13px;
  height:13px;
}

.product-instance-form-info-container{
  display:flex;
  flex-direction: column;
  width:85%;
  justify-self: center;
  padding:12px 0px 4px 0px;
}

.product-instance-form-header{
  box-shadow:none;
  cursor: pointer;
  margin-top:4px;
}

.product-instance-form-header.new {
  border:1px solid rgba(26, 255, 0, 0.5);
}

.product-form-instances-header a,
.product-instance-form-header-title a {
  color:white;
  font-family: var(--font-h2-outfit);
  font-size: var(--font-size-text);
  opacity: var(--text-opacity);
  letter-spacing: 0.5px;
}

.product-form-instances-header span {
  font-weight: 700;
}

.product-instance-form-header-title,
.product-instance-form-header-title-section {
  display:flex;
  align-items: center;
  gap:15px;
}

.product-instance-form-header-title {
  justify-content: space-between;
}

.product-instance-form-header-title .product-action-button-container {
  height:auto;
}

.product-instance-form-header-title .product-action-button {
  border:none;
  padding: 0;
  height: auto;
  transition: 0.3s ease;
}

.product-instance-form-header-title .product-action-button:hover {
  transform: scale(1.2);
}

.product-instance-form-header-title .product-action-button-icon {
  width:9px;
  height:9px;
}

.new-product-popup-common-section-row.vat{
  width:100%;
  justify-content: space-between;
}

.new-product-popup-common-section-row-div {
  display:flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
}

.new-product-popup-common-section{
  width: 95%;
  display:flex;
  flex-direction: column;
  padding: 0;
  margin-top:0;
  margin-bottom:0;
}

.new-product-popup-common-section-row{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top:20px;
  gap:10px;
}

.new-product-popup-common-section-row:first-child {
  margin-top:0;
}

.new-product-popup-assign-to-all-button {
  width:121px;
  color:white;
  font-family: var(--font-h2-outfit);
  font-size:10px;
  letter-spacing: 0.5px;
  opacity: var(--text-opacity);
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius:10px;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.new-product-popup-assign-to-all-button.selected {
  color:rgb(4, 235, 4);
  border: 1px solid rgba(4,235,4,1);
}

.product-instance-form-info-container .supplier-searchable-dropdown {
  width: 136px;
}

.product-instance-form-info-container .supplier-dropdown-header { 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 11px;
  width: 136px;
}

.product-instance-form-info-container .supplier-dropdown-header a {
  font-family: "Outfit", sans-serif;
  height:29px;
}

.product-instance-form-info-container .dropdown-menu {
  border-radius: 11px;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

.product-instance-form-info-container .dropdown-search {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}


.product-instance-form-info-container .dropdown-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}
